PORT=
ORIGINS=
MONGODB_URL=
JWT_SECRET=
NODE_ENV=

# IMAGEKIT VARIABLES
IMAGEKIT_URL_ENDPOINT=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_PUBLIC_KEY=

# Nodemailer Config
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
SMTP_PORT=